# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
android/box.keystore
android/key.properties
assets/js/ABCLockV3Call.js
assets/js/ABCLockV3Contract.js
assets/js/aepp-sdk.browser-script-770.js
assets/js/BaseFunctionCall.js
assets/js/FungibleTokenFullCall.js
assets/js/FungibleTokenFullContract.js
lib/page/intl_cn.arb
lib/page/intl_en.arb
lib/main.dart
pubspec.lock
pubspec.yaml
