<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key> <true/>
  </dict>
<key>io.flutter.embedded_views_preview</key> <true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>BoxWallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de_DE</string>
	</array>
	<key>CFBundleName</key>
	<string>BoxWallet</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>BoxWallet</string>
	<key>NSCalendarsUsageDescription</key>
	<string>BoxWallet</string>
	<key>NSCameraUsageDescription</key>
	<string>Box wallet needs to get camera permissions, which are used to get the address of the receiving account。Box Wallet需要获取相机权限，用于识别接收账户地址。</string>
	<key>NSContactsUsageDescription</key>
	<string>BoxWallet</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Why is my app authenticating using face id ?应用程序使用面部识别进行认证?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>BoxWallet</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BoxWallet</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>BoxWallet需要获取麦克风权限，用于识别接收账户地址</string>
	<key>NSMotionUsageDescription</key>
	<string>BoxWallet</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BoxWallet需要获取相册权限，用于识别接收账户地址</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>BoxWallet</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
